@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Rokkitt');

body {
    background-color: #444444;
}

h1, body {
    color: #FFFFFF;
    text-align: center;
}

ul {
    width: 30%;
    margin: auto;
    text-align: left;
}

#slogan {
    font-style: italic;
}

a {
    color: #d7e8f2;
}

h1, #slogan {
    font-family: 'Bree Serif', serif;
}

p, body, footer {
    font-family: 'Rokkitt', serif;
}