@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Rokkitt');

header {
    padding: 1em;
}


body {
    background-color: white;
}

h1, body {
    color: black;
    text-align: center;
}

ul {
    /*width: 30%;*/
    margin: auto;
    text-align: left;
}

h1 {
    font-size: 3em;
    line-height: 1em;
    padding: 0em;
}

#slogan {
    font-style: italic;
    font-size: 1.5em;
}

a {
    color: blue;
}

h1, #slogan {
    font-family: 'Bree Serif', serif;
}

p, body, footer {
    font-family: 'Rokkitt', serif;
}

nav {
    font-size: 2em;
    padding: 0 0 0 0;
}

aside {
    padding: 2em;
}

article {
    padding: 2em;
}

footer {
    padding: 2em;
}

div, section {
    padding: 0;
}

.wrapper {
    padding: 0em;
}


#services {
    padding: 0;
    float: left;
    width: 55%;
}

#extras {
    float: right;
    width: 20%;
    line-height: 3em;
}

#extras_list {
    list-style: none;
}

#my_intro {
    /*padding: 1em;*/
    float: left;
    width: 45%;
}

#my_pics {
    /*padding: 2em;*/
    float: right;
    width: 45%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 800px) {
  nav {
    float: none;
  }
  nav a {
      margin: .5em;
  }

  img {
  	width: 320px;
  }

  section {
  	padding: 0;
    margin: 0;
    width: 80%;
    font-size: 1.4em;
  	line-height: 1.8em;
  }

  #services, #my_intro, #my_pics {
    padding: 0;
    float: none;
    width: 100%;
  }

  #extras {
    float: none;
    width: 100%;
    line-height: 3em;
  }

  #extras_list {
      list-style: none;
      display: block;
  }

}
